.icon img {
    height: 25px;
    width: 25px;
}
.topNav img{
    height: 25px;
    width: 25px; 
}
.profileImg img {
    height: 125px;
    width: 125px;
}
.close img{
    height: 25px;
    width: 25px; 
}
*{
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: ghostwhite;
}

.wrapper{
    display: flex;
    width: 100%;
}
.wrapper sidebar{
    position: relative;
}
.wrapper .sidebar .innerSidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(82,110,78);
    z-index: 999;
    transition: all 0.3s ease;
}
.wrapper .mainContainer{
    margin-left: 250px;
    width: 100%;
    transition: all 0.3s ease;
}
.wrapper .innerSidebar .profileInfo{
    padding: 5px 50px;
    text-align: center;
}
.wrapper .innerSidebar .profileInfo #profileImg{
	height: 150px;
	width: 150px;
    border-radius: 50%;
    overflow: hidden;

}
.wrapper .innerSidebar .profileInfo #profileImg{
	height: 150px;
	width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
#fileInput {
	display: none;
}
.wrapper .innerSidebar .profileInfo #profileImg img{
    height: 150px;
	width: 150px;
    border-radius: 50%;
    object-fit: cover;	
    display: block;
    position: relative;
    top: 0;
}
.wrapper .innerSidebar .profileInfo .profileData .name{
    font-size: 27px;
    font-weight: 700;
    color: ghostwhite;
}
.wrapper .innerSidebar .profileInfo .profileData .role{
    font-weight: 300;
    color: azure;
    margin-bottom: 15px;
}
.wrapper .innerSidebar .profileInfo .profileData .btn{
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    border-radius: 25px;
    color: ghostwhite;
    cursor: pointer;
}
.wrapper .innerSidebar .profileInfo .profileData .btn:hover{
    background: ghostwhite;
    color: darkturquoise;
}

.wrapper .sidebarMenu li a{
    padding: 10px 50px;
    display: block;
    height: 90px;
    color: ghostwhite;
    position: relative;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
}
.wrapper .sidebarMenu li a .icon{
    font-size: 32px;
    margin-bottom: 5px;
}

.wrapper .sidebarMenu li a:hover{
    background: ghostwhite;
    color: rgb(82,110,78);
}

.wrapper .mainContainer .topNav{
    width: 100%;
    height: 40px;
    background: rgb(82,110,78);
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.125);
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
}
.wrapper .mainContainer .topNav .cup{
    width: 30px;
    height: 30px;
    position: relative;
}
.wrapper .mainContainer .topNav .cup .menuBarImg{
    cursor: pointer;
    position: relative;
    align-items: right;
    left: 250px;
}
.wrapper .mainContainer .topNav .rightBar{
    display: inline;
    margin: 0 10px;
}
.wrapper .mainContainer .topNav .rightBar li{
    display: inline;
    padding: 0 5px;
}
.wrapper .close:hover,
.wrapper .mainContainer .topNav .menuBarImg:hover,
.wrapper .mainContainer .topNav .rightBar li:hover{
    opacity: 0.5;
}
.stuff{
    padding: 0 20px;
    margin-top: 50px;
}
.wrapper .close{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 800px) {
    .wrapper .sidebar .innerSidebar{
        left: -100%;
    }
    .wrapper .mainContainer,
    .wrapper .mainContainer .topNav{
        width: 100%;
        margin-left: 0;
    }

    .wrapper .mainContainer .topNav{
        left: 0;
    }
    .wrapper .mainContainer .topNav .cup,
    .wrapper .close{
        display: block;
    }
    .wrapper .mainContainer .topNav{
        left: 0;
    }
    .wrapper .mainContainer .topNav .cup .menuBarImg{
        left: 0;
    }

}